@charset "utf-8";
/* 기본(모바일) */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  text-transform: uppercase;
  overflow-x: hidden;
}
/* 스와이퍼 */
swiper-container {
  width: 100%;
  height: 80%;
  background: white;
}

swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

swiper-slide .subtitle {
  font-size: 21px;
}

swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
/* 스와이퍼2 */
.mySwiper2 {
  width: 100%;
  height: 100%;
}
.mySwiper2 swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 배너 */
.partners {
  margin: 0;
  padding: 10vh;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.partners li {
  margin: 1%;
  width: 48%;
}

​ @media (min-width:768px) {
  /* 3열 */

  .partners li {
    width: 31.3333%;
  }

  .partners li:last-child {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* 4열 */

  .partners li {
    width: 23%;
  }

  .partners li:last-child {
    display: block;
  }
}

@media (min-width: 1400px) {
  /* 5열 */

  .partners {
    width: 90%;
    margin: 0 auto;
  }

  .partners li {
    width: 18%;
  }

  .partners .none {
    display: block;
  }
}
/* 헤더 */
header {
  position: relative;
  overflow: hidden;
  margin: 0;
}

header video {
  object-fit: cover;
  width: clamp(390px, 100%, 768px);
  aspect-ratio: 1 / 1;
  margin: 0;
}

header nav {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}
header nav .flex_wrap #logo {
  display: block;
  text-indent: -9999px;
  background: url("../images/logo.png") no-repeat 100% / cover;
  width: 99px;
  height: 24.86px;
  transition: 0.3s;
}
header nav .menu_wrapper #toggle_btn {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

header nav .menu_wrapper #toggle_btn i {
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin-left: 15px;
}
header nav .menu_wrapper #toggle_btn i:nth-child(1) {
  margin-left: 0;
}
header nav .menu_wrapper #share {
  width: 38px;
  height: 0;
  overflow: hidden;
  transition: 0.4s;
  background-color: #4806c5;
}
header nav .menu_wrapper #share li a {
  color: white;
  display: block;
  cursor: pointer;
  text-decoration: none;
}
header nav .menu_wrapper #share li a i {
  font-size: 25px;
  display: block;
  width: 25px;
  margin: 10px auto;
}
header nav .menu_wrapper #share.active {
  height: 180px;
}

header #search {
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  transition: 1s;
  overflow: hidden;
  background-color: #00000086;
}

header #search.active {
  transform: translateY(100%);
}

header #search .searchWindow {
  height: 100px;
  background-color: #4806c5;
  display: flex;
  place-items: center;
  justify-content: center;
}
header #search .searchWindow input {
  width: 80%;
  height: 60%;
  background-color: transparent;
  border: none;
  border-bottom: #fff 2px solid;
}
header #search .searchWindow input::placeholder {
  color: white;
  font-size: 17px;
}
header #search .searchWindow input:focus {
  outline: none;
  color: white;
}
header #search .searchWindow i {
  border-bottom: 2px solid #fff;
  font-size: 1.5em;
  padding: 17px;
  cursor: pointer;
  color: #fff;
}
header #search .xMark {
  height: 100%;
  display: flex;
  justify-content: center;
}
header #search .xMark i {
  color: white;
  margin: 20px;
  font-size: 3em;
  cursor: pointer;
}
.gnbWrapper {
  background-color: #4806c5;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  overflow: hidden;
}
.gnbWrapper #gnb {
  margin: 30px 20px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
.gnbWrapper #gnb li {
  margin-bottom: 10px;
}
.gnbWrapper #gnb .liX {
  display: flex;
  justify-content: end;
  transform: translateY(-20px);
}
.gnbWrapper #gnb li i {
  cursor: pointer;
  font-size: 2em;
}
.gnbWrapper.active {
  width: 100%;
}
.gnbWrapper #gnb li ul {
  height: 0;
}
.gnbWrapper #gnb li ul li {
  height: 0;
  overflow: hidden;
  font-size: 16px;
  color: #b69be8;
  margin: 15px;
}
.gnbWrapper #gnb li ul li a {
  color: #b69be8;
  text-decoration: none;
}
.headTitle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.plus::before {
  content: "";
  background-color: white;
  display: block;
  width: 20px;
  height: 2px;
  transform: translateY(11px);
}
.plus::after {
  background-color: white;
  content: "";
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 20px;
  text-align: center;
}
.plus.active {
  rotate: 180deg;
  transition: 0.5s;
}
:not(.plus.active) {
  transition: 0.5s;
}
.plus.active::after {
  transform: scaleY(0);
  transition: 0.5s 0.5s;
}
.gnbWrapper #gnb > li:nth-child(3),
.gnbWrapper #gnb > li:nth-child(4),
.gnbWrapper #gnb > li:nth-child(5),
.gnbWrapper #gnb > li:nth-child(6) {
  margin: 25px 0;
}
.gnbWrapper #gnb #about li {
  height: 100%;
}
.gnbWrapper #gnb #about li a {
  text-decoration: none;
}
.gnbWrapper #gnb #about #aboutLi.active {
  height: 100%;
}
.gnbWrapper #gnb #about #aboutLi.active li {
  height: 100%;
  display: block;
}
.gnbWrapper #gnb #archive {
  cursor: pointer;
}
.gnbWrapper #gnb #archive li {
  height: 100%;
}
.gnbWrapper #gnb #archive #archiveLi.active {
  height: 100%;
}
.gnbWrapper #gnb #archive #archiveLi.active li {
  display: block;
  height: 100%;
}
.gnbWrapper #gnb #notice {
  cursor: pointer;
}
.gnbWrapper #gnb #notice li {
  height: 0;
}
.gnbWrapper #gnb #notice #noticeLi.active li {
  height: 100%;
}
.gnbWrapper #gnb #notice #noticeLi.active {
  height: 100%;
}
.main_title {
  position: absolute;
  bottom: 8vh;
  color: white;
  margin: 3vw;
}
.main_title h1 {
  font-weight: bold;
  font-size: 2em;
  line-height: 30px;
}
.main_util {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  color: white;
}
.main_util .sns {
  display: flex;
  cursor: pointer;
  margin: 3vw;
}
.main_util .sns li {
  margin-right: 4vw;
}
.main_util .swiper_arrow {
  display: flex;
  font-size: 0.5em;
  cursor: pointer;
  margin: 3vw;
}
.main_util .swiper_arrow li {
  margin-left: 4vw;
}
.box1 {
  background-image: linear-gradient(-90deg, #8ed873, #8d67f7);
  height: 630px;
  background-size: 200% 200%;
  transform: translateY(-7px);
  padding: 3vw;
  position: relative;
  animation: slowly 8s infinite ease-in-out;
}
@keyframes slowly {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h2 {
  font-size: 1.7em;
  padding-top: 6vh;
}
.box1 h2 {
  color: white;
  font-size: 1.7em;
  padding-top: 6vh;
}

#mainSwiper {
  overflow: hidden;
}
.pagination1 {
  color: white;
  font-size: 0.8em;
  width: 50px;
}
.swiper-arrow1:hover {
  opacity: 1;
}
.swiper-arrow2:hover {
  opacity: 1;
}
.line {
  color: white;
}
.arrowBox {
  display: flex;
  margin-top: 25px;
}
.box1 #mainSwiper .arrowBox .pagination1 {
  font-family: "Noto Sans", sans-serif;
}
.swiper-arrow1,
.swiper-arrow2 {
  /* position: absolute; */
  cursor: pointer;
  opacity: 0.5;
}

#mainSwiper .swiper-wrapper {
  aspect-ratio: auto;
}
#mainSwiper .swiper-wrapper .swiper-slide {
  position: relative;
  color: white;
}
#mainSwiper .swiper-wrapper .swiper-slide p {
  height: 80px;
  margin-top: 15px;
}
#mainSwiper .swiper-wrapper .swiper-slide img {
  object-fit: cover;
  aspect-ratio: auto;
}
.box2 {
  padding: 3vw;
  position: relative;
}
.box2 > p {
  margin-bottom: 30px;
}
.camp li {
  position: relative;
  margin-bottom: 40px;
}
.camp li a {
  text-decoration: none;
  color: black;
  text-transform: none;
}
.camp li a .camp_txt span {
  font-size: 0.8em;
  color: gray;
  font-family: "Noto Sans", sans-serif;
}
.cat {
  display: block;
  position: absolute;
  top: 0;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  color: #8d68fd;
}
.camp li a .cat1::after {
  content: " 01";
}
.camp li a .cat2::after {
  content: " 02";
}
.camp li a .camp_img {
  display: flex;
}
.camp li a .camp_img .box img {
  width: 720px;
}
.clearFix::before {
  content: "";
  display: block;
  clear: both;
  width: 40px;
}
.camp li a .camp_txt {
  margin-left: 40px;
}

.more {
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  color: black;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  border-bottom: 2px solid black;
  text-align: center;
  font-weight: bold;
}
.more::after {
  content: "+";
}
.more:hover:after {
  transform: rotate(360deg);
  transition: 1s;
  transform-origin: 50% 0%;
}
.box3 {
  display: flex;
  background-color: #4300bd;
  align-items: center;
  color: white;
  height: 30vh;
}
.box3 h3 {
  width: 40%;
  font-size: 1.5em;
  padding: 3vw;
}
.box3 h3 .line {
  display: inline-block;
  width: 20px;
  border-bottom: solid 1px white;
  margin-left: 10px;
}
.box3 .box3_video {
  width: 100%;
}

.box3 .box3_video a .video_p {
  display: none;
}
.box3 .box3_video a video {
  width: 100%;
  object-fit: contain;
}
.box4 {
  overflow: hidden;
  background-color: #f6f7f8;
  padding-bottom: 10vh;
}
.box4 h2 {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.box4 a {
  display: block;
  width: 500px;
  font-size: 1.2em;
  margin: 2vw auto;
  text-align: center;
  text-transform: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.box4 a span i {
  display: inline-block;
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
}
.arrowBox-1 {
  display: flex;
  cursor: pointer;
}
.arrowBox-1 > div {
  color: black;
}

.box4 #videoSwiper .swiper-wrapper li a {
  width: 100%;
  height: 100%;
  position: relative;
}

.box4 #videoSwiper .swiper-wrapper li a:hover::before {
  content: "";
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.384);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  border-radius: 50%;
}
.box4 #videoSwiper .swiper-wrapper li a:hover::after {
  content: "▶";
  color: #ddd;
  line-height: 110px;
  font-size: 2em;
  width: 120px;
  height: 120px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  border-radius: 50%;
}

.box4 #videoSwiper .swiper-wrapper li p {
  margin: 0 0 0 7.5vw;
  font-size: 1.3em;
  transform: translateY(0px);
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}
.box4 .arrowBox-1 {
  display: none;
}
.box5 {
  padding: 3vw;
}
.box5 p {
  font-size: 1.3em;
}
.box6 {
  padding: 3vw 3vw 10vw 3vw;
  background-color: #f6f7f8;
  position: relative;
}

.box6 .noticeTxt p {
  font-size: 1.3em;
}
.box6 .noticeTxt {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5vh;
  text-transform: none;
}
.box6 .news_list li {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 5vh 0 5vh 0;
  display: flex;
  cursor: pointer;
}
.box6 .news_list li:hover {
  background-color: white;
}
.box6 .news_list li:nth-child(1) {
  border-top: 1px solid black;
}
.box6 .news_list li:nth-child(3) {
  border-bottom: 1px solid black;
  margin-bottom: 5vh;
}
.box6 .news_list li .cat {
  position: relative;
  left: 2.5vh;
  text-align: center;
  font-size: 1.5em;
  display: block;
}
.box6 .news_list li .news_txt {
  padding: 0 5vh 0 5vh;
  overflow: hidden;
}

.box6 .news_list li .news_txt h6 {
  font-size: 1.4em;
  margin-bottom: 2vh;
}
.box6 .news_list li .news_txt p {
  font-family: "Noto Sans", sans-serif;
  text-transform: none;
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 2vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box6 .news_list li .news_txt span {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;

  color: #525252;
}
footer {
  background-color: #0e0e10;
  color: white;
  padding: 6vw 3vw;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .inner .f_tit .left p {
  font-size: 1.3em;
  text-transform: none;
}
footer .inner div {
  margin-bottom: 3vh;
}
footer .inner .right {
  font-size: 0.9em;
  opacity: 0.8;
}
footer .inner .right .f_contact a {
  margin-right: 5vh;
}
footer .inner .right .f_contact a span {
  vertical-align: bottom;
  margin-left: 2vh;
}
footer .inner .right p {
  font-size: 0.8em;
  opacity: 0.7;
  font-family: "Noto Sans", sans-serif;
  text-transform: none;
}
footer .inner .f_util .left .sns {
  display: flex;
  font-size: 1.5em;
  opacity: 0.7;
}
footer .inner .f_util .left .sns li {
  margin: 0 10px;
}
#top_btn_box {
  position: relative;
  bottom: 370px;
  transform: translateX(390px);
  z-index: 9999999;
}
#top_btn_box a button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: #4300bd;
  background-color: white;
  box-shadow: 0.7px 0px 2.2px rgba(0, 0, 0, 0.02),
    1.8px 0px 5.3px rgba(0, 0, 0, 0.028), 3.4px 0px 10px rgba(0, 0, 0, 0.035),
    6px 0px 17.9px rgba(0, 0, 0, 0.042), 11.3px 0px 33.4px rgba(0, 0, 0, 0.05),
    27px 0px 80px rgba(0, 0, 0, 0.07);
}
