@charset "utf-8";
@media (min-width: 768px) {
  header video {
    width: clamp(768px, 100%, 1920px);
    aspect-ratio: 16 / 9;
  }

  header nav .flex_wrap #logo {
    width: 184px;
    height: 46.2px;
  }

  header nav .menu_wrapper {
    margin-right: 50px;
  }
  header nav .menu_wrapper #toggle_btn i {
    font-size: 30px;
  }

  header nav .menu_wrapper #share {
    background-color: #4906c569;
  }
  header nav {
    width: 90%;
    position: absolute;
    left: 5%;
  }
  .gnbWrapper {
    width: 70%;
    height: auto;
    overflow: visible;
    background-color: transparent;
    top: 0;
    left: 50%;
    transform: translateX(-45%) translateY(0);
    margin: 0;
  }
  #gnb > li:nth-child(3),
  #gnb > li:nth-child(4),
  #gnb > li:nth-child(5),
  #gnb > li:nth-child(6) {
    cursor: pointer;
    transform: translateY(-20px);
    display: flex;
    justify-content: center;
  }
  #about {
    margin-bottom: 0;
    transform: translateY(5px);
  }

  #archive {
    margin: 0;
    transform: translateY(5px);
  }
  #notice {
    margin: 0;
    transform: translateY(5px);
  }

  #gnb li:hover {
    background-color: #4806c5;
  }
  #gnb li:hover div p {
    transform: translate(0);
  }
  #about #aboutLi.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4806c5;
  }
  #about #aboutLi.active li {
    width: auto;
    background-color: transparent;
    height: 20%;
    margin: 10px;
  }
  #about #aboutLi {
    height: 0;
    display: flex;
    flex-direction: column;
  }

  #about #aboutLi li {
    height: auto;
  }
  #about #aboutLi li a {
    color: white;
  }

  #archive #archiveLi {
    height: 0;
    display: flex;
    flex-direction: column;
  }
  #gnb #archiveLi.active li {
    width: auto;
    background-color: transparent;
    height: 20%;
    margin: 10px;
  }

  #archive #archiveLi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4806c5;
  }
  #archive #archiveLi li a {
    color: white;
  }
  #notice #noticeLi {
    height: 0;
    display: flex;
    flex-direction: column;
  }
  #notice #noticeLi.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4806c5;
  }
  #notice #noticeLi.active li {
    width: auto;
    background-color: transparent;
    height: 20%;
    margin: 10px;
  }
  #notice #noticeLi li {
    height: auto;
  }
  #notice #noticeLi li a {
    color: white;
  }

  .gnbWrapper #gnb {
    display: flex;
    overflow: visible;
  }
  .gnbWrapper #gnb li {
    width: 14.2%;
    height: auto;
    overflow: visible;
  }

  .headTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .gnbWrapper #gnb .liX {
    display: none;
  }
  .plus {
    display: none;
  }
  header nav .menu_wrapper {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 0;
    width: auto;
  }
  header nav .menu_wrapper #toggle_btn {
    transform: translateX(30px);
  }
  header nav .menu_wrapper #toggle_btn .fa-bars {
    display: none;
  }
  header #search.active {
    z-index: 9999;
  }

  .plus.active {
    display: none;
  }
  header nav .menu_wrapper #share {
    position: absolute;
    top: 0;
    transform: translateY(35%) translateX(-20%);
  }
}
