@charset "utf-8";
/* 기본(모바일) */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  text-transform: uppercase;
}
/* 스와이퍼 */
swiper-container {
  width: 100%;
  height: 100%;
  background: #000;
}

swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

swiper-slide .subtitle {
  font-size: 21px;
}

swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
/* 스와이퍼2 */
.mySwiper2 {
  width: 100%;
  height: 100%;
}
.mySwiper2 swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 배너 */
.partners {
  margin: 0;
  padding: 10vh;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.partners li {
  margin: 1%;
  width: 48%;
}

​ @media (min-width:768px) {
  /* 3열 */

  .partners li {
    width: 31.3333%;
  }

  .partners li:last-child {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* 4열 */

  .partners li {
    width: 23%;
  }

  .partners li:last-child {
    display: block;
  }
}

@media (min-width: 1400px) {
  /* 5열 */

  .partners {
    width: 90%;
    margin: 0 auto;
  }

  .partners li {
    width: 18%;
  }

  .partners .none {
    display: block;
  }
}
